:root {
    --background_color: #104462
}

body,
ul {
    margin: 0;
    padding: 0;
    background-color: #EEF4F5;
}

/* Navbar styles */
.fixed-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--background_color); /*#104656*/
    ;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 15px;
}

/* Sidebar styles */
.sidebar {
    width: 200px;
    background-color: var(--background_color); /*#104656*/
    color: white;
    height: 100vh;
    /* Full height */
    position: fixed;
    /* Fixed Sidebar (remains visible while scrolling) */
    top: 0;
    left: 0;
    padding-top: 60px;
    /* Space for the navbar */
    overflow-y: auto;
    /* Enable vertical scroll if content exceeds height */
}

.nav-links {
    list-style: none;
}

    .nav-links li {
        display: inline;
        margin-right: 20px;
    }

        .nav-links li a {
            color: white;
            text-decoration: none;
        }

/* Centered input field */
.search {
    flex-grow: 1;
    text-align: center;
}

.hf {
    margin-top: 40px;
}

.sortByDate {
    margin-top:50px;
}


.date2 {
    margin-top: 40px;
}

.date {
    margin-top: 20px;
}

    .date input {
        width: auto;
        /* Adjust width as needed */
        padding: 8px;
        border-radius: 5px;
        border: 1px solid #ccc;
        margin: 10 auto;
        display: block;
    }

.products {
    margin-top: 20px;
}

.dropdown {
    width: 150px;
    /* Adjust width as needed */
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-left:10px;
    margin: 10 auto;
    display: block;
}

.dropdownLabel {
    margin-left:10px;
}

.search input {
    width: 70%;
    /* Adjust width as needed */
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 0 auto;
    display: block;
}


/* Content area styles */
.content {
    margin-left: 220px;
    /* Account for the width of the sidebar */
    padding: 20px;
    padding-top: 80px;
    /* Space for the fixed navbar */
    margin: 0 auto;
    /* Center horizontally */
    text-align: center;
    /* Center inline content */
}


.row {
    margin-left: 200PX;
    margin-right: auto;
    margin-bottom: 20px;
}

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

.content table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #493e3e;
    margin: 0 auto;
}

th,
td {
    text-align: left;
    padding: 8px;
}


/* Progressbar */
.progress {
    position: relative;
    height: 8px; /* Tykkelse på progressbar */
    display: block;
    width: 100%;
    background-color: #acece6; /* Farge på progressbar */
    border-radius: 2px;
    /*margin: 0.5rem 0 1rem 0;*/
    margin-left: 220px;
    margin: 0auto;
    overflow: hidden;
}

    .progress .determinate {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: #26a69a;
        -webkit-transition: width .3s linear;
        transition: width .3s linear;
    }

    .progress .indeterminate {
        background-color: #26a69a;
    }

        .progress .indeterminate:before {
            content: '';
            position: absolute;
            background-color: inherit;
            top: 0;
            left: 0;
            bottom: 0;
            will-change: left, right;
            -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
            animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
        }

        .progress .indeterminate:after {
            content: '';
            position: absolute;
            background-color: inherit;
            top: 0;
            left: 0;
            bottom: 0;
            will-change: left, right;
            -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
            animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
            -webkit-animation-delay: 1.15s;
            animation-delay: 1.15s;
        }

@-webkit-keyframes indeterminate {
    0% {
        left: -35%;
        right: 100%;
    }

    60% {
        left: 100%;
        right: -90%;
    }

    100% {
        left: 100%;
        right: -90%;
    }
}

@keyframes indeterminate {
    0% {
        left: -35%;
        right: 100%;
    }

    60% {
        left: 100%;
        right: -90%;
    }

    100% {
        left: 100%;
        right: -90%;
    }
}

@-webkit-keyframes indeterminate-short {
    0% {
        left: -200%;
        right: 100%;
    }

    60% {
        left: 107%;
        right: -8%;
    }

    100% {
        left: 107%;
        right: -8%;
    }
}

@keyframes indeterminate-short {
    0% {
        left: -200%;
        right: 100%;
    }

    60% {
        left: 107%;
        right: -8%;
    }

    100% {
        left: 107%;
        right: -8%;
    }
}
